/*carousel left-center-right*/

.carousel-slide-container-center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.carousel-slide-container-right {
    align-items: flex-end;
    justify-content: right;
    text-align: right;
}

.owl-dots {
    text-align: center;
}

/* infinite animations clockwise and counterclockwise */

@keyframes rotate-clockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate-counterclockwise {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.services__item {
    margin-bottom: 45px;
}

.services__item h4 {
    color: #fff; /* Sostituisci $white-color con il valore effettivo */
    font-size: 22px;
    font-weight: 700;
    margin-top: 26px;
    margin-bottom: 18px;
}

.services__item p {
    margin-bottom: 0;
}

.services__item__icon {
    position: relative;
    height: 70px;
    width: 70px;
    line-height: 70px;
    text-align: center;
}

.services__item__icon:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #00bfe7; /* Sostituisci $primary-color con il valore effettivo */
    content: "";
    transition: all 0.5s;
}

/* Rotazione continua in senso orario */
.rotate-clockwise:after {
    animation: rotate-clockwise 5s linear infinite;
}

/* Rotazione continua in senso antiorario */
.rotate-counterclockwise:after {
    animation: rotate-counterclockwise 5s linear infinite;
}

.services {
    padding-bottom: 0;
}

.footer-container, .motivational-sentence {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero__slider-section {
    background-image: url('img/hero/hero-1.jpg'); /* Cambia questo percorso con quello della tua immagine */
    background-size: cover;
    background-position: center;
}